@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #091C46;
  --secondary: #EFD977;

  --primary-hover: #EBEEF6;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-fraunces);

  --color-primary: #091C46;
  --color-secondary: #EFD977;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

img {
  max-width: 100%;
}

.btn {
  font-size: 20px;
  font-style: italic;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 50px;
}

.btn-primary {
  background: var(--primary);
  color: #fff;
}

.btn-primary:hover {
  background: var(--primary-hover);
  color: var(--primary);
}

.btn-secondary {
  background: var(--primary-hover);
  color: var(--primary);
}

.btn-secondary:hover {
  background: var(--primary);
  color: var(--secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fraunces);
}


.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.gradient-text {
  background: linear-gradient(0deg,
      #EFD977 0%,
      #BB7730 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.page-header {
  position: absolute;
  width: 100%;
  z-index: 1;
}


.page-header:before,
.page-header:after {
  content: '';
  width: 300px;
  height: 70px;
  background: url(../public/assets/header-graphic.svg) center bottom no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.page-header:after {
  right: 0;
  left: auto;
}


.page-header .inner:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  height: 50px;
  background: #091C46;
  background: linear-gradient(180deg, rgba(9, 28, 70, 1) 0%, rgba(9, 28, 70, 0) 100%);
}

.home-banner {
  padding-bottom: 46.5%;
}
.home-banner .image {
  position: absolute; inset: 0; width: 100%; height: 100%;
}

.home-banner .image:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 50px;
  width: 434px;
  height: 165px;
  background: url(../public/assets/cloud-img.svg) center left no-repeat;
  z-index: 1;
}

.home-banner .image:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--primary);
  opacity: .5;
}
.home-banner .image img {
  position: absolute; inset: 0; width: 100%; height: 100%; object-fit: cover;
}

.home-banner .caption {
  position: absolute;
  bottom: 126px;
  left: 0;
  width: 100%;
}


.bg-gray-circle {
  background: #fff url(../public/assets/gray-circle-bg.png) center top repeat;
  background-size: 105%;
}

/* .bg-circle-layer {
  background: url(../public/assets/signature-bg.png) center top repeat;
} */

.signature-wrapper {
  position: relative;
}
.signature-wrapper:before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%; height: 100%; z-index: 1;
  background: url(../public/assets/bg-left.svg) left top repeat-y, url(../public/assets/bg-right.svg) right top repeat-y;
}

.intro-section:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 150px;
  width: 390px;
  height: 160px;
  background: url(../public/assets/cloud-img.svg) right top no-repeat;
}

.intro-section:after {
  content: '';
  position: absolute;
  right: 69px;
  top: 0;
  width: 180px;
  height: 465px;
  background: url(../public/assets/ornament-lg.svg) center bottom no-repeat;
  background-size: 100% 150%;
}

.weekly-offers {
  background: url(../public/assets/offers-bg.png) center top repeat-x;
}

.weekly-offers .ornament {
  position: absolute;
  top: 0;
  width: 180px;
  height: 640px;
  background: url(../public/assets/ornament-sm.svg) center bottom no-repeat;
}

.weekly-offers .ornament.left {
  left: 123px;
}

.weekly-offers .ornament.right {
  right: 123px;
}

.weekly-offers .cloud {
  position: absolute;
  bottom: 0;
  width: 515px;
  height: 150px;
  background: url(../public/assets/cloud-img.svg) center bottom no-repeat;
}

.weekly-offers .cloud.left {
  left: -80px;
  bottom: 92px;
}

.weekly-offers .cloud.right {
  right: -180px;
}

.weekly-offers .cards:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 672px;
  height: 672px;
  background: url(../public/assets/shadow-circle.png) center center no-repeat;
  z-index: -1;
}

.khim-experience {
  padding: 105px 0 81px;
  background: url(../public/assets/khim-experince.png) center center no-repeat;
  background-size: cover;
}


.khim-experience .cloud {
  width: 515px; height:  150px;
  position: absolute;
  left: -245px;
  bottom: 30px;
}

.khim-experience .cloud.right {
  left: auto;
  right: -245px;
  bottom: 300px;
}

.khim-experience .ornament {
  position: absolute;
  top: 0;
  width: 180px;
  height: 640px;
  background: url(../public/assets/ornament-sm.svg) center bottom no-repeat;
}

.khim-experience .ornament.left {
  left: 123px;
}

.khim-experience .ornament.right {
  right: 123px;
  height: 500px;
}


.instagram-feed .cloud {
  width: 515px; height:  150px;
  position: absolute;
  right: -158px;
  bottom: 70px;
}
.instagram-feed .ornament.left {
  position: absolute; left: 86px; top: -80px;
  width: 180px; height: 718px;
}
.instagram-feed .ornament.right {
  position: absolute; right: 102px; top: -150px;
  width: 160px; height: 450px;
}


.page-footer {
  background: url(../public/assets/khim-experince.png) center top repeat;
  position: relative;
}
.page-footer .cloud {
  width: 514px; height: 150px;
  position: absolute; left: -87px; top: 300px;
}
.ornament {
  width: 180px; height: 690px; position: absolute; top: -190px; right: 130px
}


@media screen and (max-width: 1750px) {
  .weekly-offers .ornament {display: none; }

  .signature-wrapper:before {background-size: 90px;}
}

@media screen and (max-width: 1600px) {
  .page-header:before, .page-header:after {
    width: 140px; height: 35px; background-size: cover;
  }
  header nav,
  .contact-info {margin-top: 20px;}

  .intro-section:after {
    width: 90px;
    height: 265px;
    right: 20px;
    background-size: cover;
  }
  .intro-section:before {
    width: 300px;
    height: 100px;
    bottom: 80px;
    left: -70px;
    background-size: cover;
  }
}

@media screen and (max-width: 1440px) {
  .home-banner {
    padding-bottom: 60%;
  }
  .home-banner .image:before {
    width: 274px; height: 95px; background-size: cover; right: -80px
  }

  .intro-section .container {
    max-width: 70%;
  }

  .btn {
    font-size: 18px;
  }

  .section-title img {
    max-width: 110px;
  }

  .weekly-offers {padding-top: 90px;}
  .weekly-offers .cloud {
    width: 340px; height: 100px; background-size: contain;
  }
  .weekly-offers .cloud.left {bottom: 42px; left: -100px;}
  .weekly-offers .cloud.right {right: -110px;}
}

@media screen and (max-width: 992px) {
  .home-banner {
    padding-bottom: 80%;
  }
}

@media screen and (max-width: 800px) {
  .intro-section .button-row {
    flex-direction: column;
  }
  .signature-wrapper:before {background-size: 60px;}
  
}

@media screen and (max-width: 500px) {
  .intro-section .container {max-width: 100%;}

  .intro-section:after {display: none;}
  .intro-section:before { width: 210px; height: 60px; left: -50px;}

  .section-title {gap: 15px;}
  .section-title h2 {font-size: 35px;}
  .section-title img {max-width: 70px;}
  .section-title p {font-size: 24px} 
}
