@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #091C46;
  --secondary: #EFD977;

  --primary-hover: #EBEEF6;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-fraunces);

  --color-primary: #091C46;
  --color-secondary: #EFD977;

  --breakpoint-3xl: 1750px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

img {
  max-width: 100%;
}

.btn {
  font-size: 20px;
  font-style: italic;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 50px;
  cursor: pointer;
}
.btn.lg {
  font-size: 30px;
  padding: 4px 34px;
}

.btn-primary {
  background: var(--primary);
  color: #fff;
}

.btn-primary:hover {
  background: var(--primary-hover);
  color: var(--primary);
}

.btn-secondary {
  background: var(--primary-hover);
  color: var(--primary);
}

.btn-secondary:hover {
  background: var(--primary);
  color: var(--secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fraunces);
}


.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.gradient-text {
  background: linear-gradient(0deg,
      #EFD977 0%,
      #BB7730 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.page-header {
  position: absolute;
  width: 100%;
}


.page-header:before,
.page-header:after {
  content: '';
  width: 300px;
  height: 70px;
  background: url(../public/assets/header-graphic.svg) center bottom no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.page-header:after {
  right: 0;
  left: auto;
}


.page-header .inner:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  height: 50px;
  background: #091C46;
  background: linear-gradient(180deg, rgba(9, 28, 70, 1) 0%, rgba(9, 28, 70, 0) 100%);
}

.home-banner {
  padding-bottom: 46.5%;
}

.home-banner .image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.home-banner .image:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 50px;
  width: 434px;
  height: 165px;
  background: url(../public/assets/cloud-img.svg) center left no-repeat;
  z-index: 1;
}

.home-banner .image:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--primary);
  opacity: .5;
}

.home-banner .image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-banner .caption {
  position: absolute;
  bottom: 126px;
  left: 0;
  width: 100%;
}


.bg-gray-circle {
  background: #fff url(../public/assets/gray-circle-bg.png) center top repeat;
  background-size: 105%;
}

/* .bg-circle-layer {
  background: url(../public/assets/signature-bg.png) center top repeat;
} */

.signature-wrapper {
  position: relative;
}
.signature-wrapper img {
  object-fit: cover;
}

.signature-wrapper:before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(../public/assets/bg-left.svg) left top repeat-y, url(../public/assets/bg-right.svg) right top repeat-y;
}

.intro-section:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 150px;
  width: 370px;
  height: 160px;
  background: url(../public/assets/cloud-img.svg) right top no-repeat;
}

.intro-section:after {
  content: '';
  position: absolute;
  right: 69px;
  top: 0;
  width: 180px;
  height: 465px;
  background: url(../public/assets/ornament-lg.svg) center bottom no-repeat;
  background-size: 100% 150%;
}

.weekly-offers {
  background: url(../public/assets/offers-bg.png) center top repeat-x;
}

.weekly-offers .ornament {
  position: absolute;
  top: 0;
  width: 180px;
  height: 640px;
  background: url(../public/assets/ornament-sm.svg) center bottom no-repeat;
}

.weekly-offers .ornament.left {
  left: 123px;
}

.weekly-offers .ornament.right {
  right: 123px;
}

.weekly-offers .cloud {
  position: absolute;
  bottom: 0;
  width: 515px;
  height: 150px;
  background: url(../public/assets/cloud-img.svg) center bottom no-repeat;
}

.weekly-offers .cloud.left {
  left: -80px;
  bottom: 92px;
}

.weekly-offers .cloud.right {
  right: -180px;
}

.weekly-offers .cards:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 672px;
  height: 672px;
  background: url(../public/assets/shadow-circle.png) center center no-repeat;
  z-index: -1;
}

.khim-experience {
  padding: 105px 0 81px;
  background: url(../public/assets/khim-experince.png) center center repeat;
}


.khim-experience .cloud {
  width: 515px;
  height: 150px;
  position: absolute;
  left: -245px;
  bottom: 30px;
}

.khim-experience .cloud.right {
  left: auto;
  right: -245px;
  bottom: 300px;
}

.khim-experience .ornament {
  position: absolute;
  top: 0;
  width: 180px;
  height: 796px;
  background: url(../public/assets/ornament-sm.svg) center bottom no-repeat;
  background-size: contain;
}

.khim-experience .ornament.left {
  left: 115px; top: -120px;
}

.khim-experience .ornament.right {
  right: 115px; top: -280px;
}


.instagram-feed .cloud {
  width: 515px;
  height: 150px;
  position: absolute;
  right: -158px;
  bottom: 70px;
}

.instagram-feed .ornament.left {
  position: absolute;
  left: 86px;
  top: -80px;
  width: 180px;
  height: 718px;
}

.instagram-feed .ornament.right {
  position: absolute;
  right: 102px;
  top: -150px;
  width: 160px;
  height: 450px;
}
.instagram-feed img {width: 100%;}


.page-footer {
  background: url(../public/assets/khim-experince.png) center top repeat;
  position: relative;
}

.page-footer .cloud {
  width: 514px;
  height: 150px;
  position: absolute;
  left: -87px;
  top: 300px;
}

.page-footer .ornament {
  width: 180px;
  height: 690px;
  position: absolute;
  top: -190px;
  right: 130px
}


/* inner-page--header */
.inner--page .page-header .inner:after {
  height: 30px;
  bottom: -20px;
}

.inner-page--header {
  position: relative;
  background: url(../public/assets/inner-page-header.png) center bottom;
  background-size: contain;
  padding: 250px 0 250px;
  background-repeat: repeat-x;
}

.inner-page--header .ornament {
  position: absolute;
  top: -130px;
  width: 150px;
  height: 786px;
  background: url(../public/assets/ornament-sm.svg) center bottom no-repeat;
  background-size: contain;
}


.inner-page--header .ornament.left {
  left: 96px;
}

.inner-page--header .ornament.right {
  width: 130px;
  top: -240px;
  right: 150px;
}
.inner-page--header .section-title img {max-width: 150px;}


.tab-holder {
  grid-column-gap: 10px;
  grid-row-gap: 32px;
}

.tab-holder .btn {
  padding: 10px 35px;
  background-color: #EBEEF6;
  color: #11285B;
  font-size: 30px;
  line-height: 1;
  cursor: pointer;
}

.tab-holder .btn.active {
  color: #EED675;
  background-color: #091C46;
}

/* dist-card */
.dist-card {
  background-color: #D9D9D9;
  padding-top: 26px;
  border-radius: 29px;
  margin-top: 95px;
}

.dist-card .body {
  background-color: #fff;
  border: 1px solid #11285B;
  padding: 0 17px 24px 27px;
  border-radius: 29px;
  height: 100%;
}

@media screen and (min-width: 991px) {
  .truncate-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    min-height: 60px;
    -webkit-box-orient: vertical;
  }

}

.dist-card .icon {
  width: 154px;
  height: 154px;
  border-radius: 100%;
  background-color: #000;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dist-card .icon img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  border-radius: 24px;
  overflow: hidden;
}

.dist-card .logo-row {
  margin-top: -80px;
}

/* dish-card-lg */
.dish-card-lg {
  display: flex;
  align-items: center;
  grid-gap: 26px;
}

.dish-card-lg .icon {
  width: 125px;
  height: 125px;
  border-radius: 15px;
  background-color: #000;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* experience-boxes */
.experience-boxes .card {
  width: 100%;
  max-width: 360px;
  padding: 0 20px 30px 35px;
  border-radius: 30px;
  background-color: #11285B;
  text-align: left; margin-top: 50px;
}


.experience-boxes .card .icon {
  width: 114px;
  height: 114px;
  background: linear-gradient(242.21deg, #EFD977 13.5%, #BB7730 73.86%);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -60px 0 10px;
}

.experience-boxes .card .text-color {
  background: linear-gradient(242.21deg, #EFD977 13.5%, #BB7730 73.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.inner-page .signature-wrapper .ornament {
  width: 100px; height: 460px; 
  background: url(../public/assets/ornament-sm.svg) center bottom no-repeat;
  background-size: contain; position: absolute; top: -190px;}
.inner-page .signature-wrapper .ornament.left {left: 150px;}
.inner-page .signature-wrapper .ornament.right {right: 150px;}

.inner-page .intro-section {overflow: hidden;}
.inner-page .intro-section:after {
  width: 158px; height: 697px; background-position: center bottom; background-size: contain; top: -150px; right: 90px;
}

.inner-page .khim-experience {padding-bottom: 65px;}
.inner-page .signature-wrapper.location-finder:before {background-repeat: no-repeat;}


.fontrol-label{
  color: #fff; font-size: 20px; display: block; margin-bottom: 10px;
}
.form-control {
  height: 60px; width: 100%; border: 1px solid #fff; border-radius: 10px; padding: 0 20px; background: rgba(255, 255, 255, .1);
  outline: none !important; box-shadow: none !important; font-style: italic;
  color: rgba(255, 255, 255, .5);
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(2);
  cursor: pointer;
}

.bg-gradient {
  background: linear-gradient(90deg, #274891 0%, #091C46 100%);
  opacity: .4;
}